@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');
/* Universal STyles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #C5C3C8;
  overflow: hidden;
  transition: all .8s ease;
}

/* Start Of Sign In Screen */
.logo {
  margin-bottom: 1em;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h4,
p {
  line-height: 1.5;
  text-align: center;
}

#google-signin-button {
  display: inline-flex;
  align-items: center;
  width: 18em;
  background-color: #2A3033;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 1em;
}

#google-signin-button:hover {
  background-color: #1e2122;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px; 
}

.button-text {
  font-size: 14px;
  margin-left: 1em;
}

.blue, .red {
    width: 125px;
    height: 125px;
    filter: blur(100px);
    transition: all .5s ease;
}

.red {
    background: #F4426D;
    position: absolute;
    bottom: 0;
    left: 0;
}

.blue {
    background: #4285F4;
    position: absolute;
    top: 0;
    right: 0;
}

/* End Of Sign In Screen */
/* Start Of Dash Board Screen */
.dashboard {
  height: 100vh;
  width: 100vw;
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100vw;
  background: #252526;
}

nav div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.log-out {
  cursor: pointer;
}

.motivation {
  width: 90%;
  border-radius: 10px;
  margin: auto;
  padding: 1em;
  height: 22vh;
  margin-top: 1em;
  background-color: rgba(22, 28, 32, 0.826); /* Adjust the opacity as needed */
  backdrop-filter: blur(8px);
  position: relative;
}

.quotation {
  font-size: 70px;
  opacity: 0.34;
  position: absolute;
  top: 2%;
  left: 4%;
  font-family: 'IM Fell Double Pica SC';
}

.quote {
  font-size: 1.2em;
  -webkit-text-stroke: .5px black;
  text-stroke: .5px black;
  text-align: left;
  position: absolute;
  top: 22%;
  left: 8.5%;
}

.quote-founder {
  font-size: 1.2em;
  -webkit-text-stroke: .5px black;
  text-stroke: .5px black;
  text-align: left;
  position: absolute;
  bottom: 12%;
  right: 8.5%;
}
/* ENd Of Dash Board Screen */