@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

/* Universal STyles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #C5C3C8;
  transition: all .8s ease;
  overflow-x: hidden;
}

/* Styles For Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Start Of Sign In Screen */
.logo {
  margin-bottom: 1em;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h4,
p {
  line-height: 1.5;
  text-align: center;
}

#google-signin-button {
  display: inline-flex;
  align-items: center;
  width: 18em;
  background-color: #2A3033;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 1em;
}

#google-signin-button:hover {
  background-color: #1e2122;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.button-text {
  font-size: 14px;
  margin-left: 1em;
}

.blue,
.red {
  width: 125px;
  height: 125px;
  filter: blur(100px);
  transition: all .5s ease;
}

.red {
  background: #F4426D;
  position: fixed;
  bottom: 0;
  left: 0;
}

.blue {
  background: #4285F4;
  position: fixed;
  top: 0;
  right: 0;
}

/* End Of Sign In Screen */
/* Start Of Dash Board Screen */
.dashboard {
  height: 100vh;
  width: 100vw;
  scale: 0;
  position: absolute;
  top: 0;
  overflow: visible;
  left: 0;
}

/* Start Of Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100vw;
  background: #252526;
}

nav div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.log-out {
  cursor: pointer;
}

/* Start Of Motivational Quote */
.motivation {
  width: 90%;
  border-radius: 10px;
  margin: auto;
  padding: 1em;
  height: 25vh;
  margin-top: 1em;
  background-color: rgba(22, 28, 32, 0.826);
  /* Adjust the opacity as needed */
  backdrop-filter: blur(8px);
  position: relative;
  max-width: 500px;
  border: 2px solid #233C5F;
}

.motivation::before {
  content: '"';
  font-size: 70px;
  opacity: 0.34;
  position: absolute;
  top: 8%;
  left: 4%;
  font-family: 'IM Fell Double Pica SC';
}

.quote {
  font-size: 1.2em;
  -webkit-text-stroke: .5px black;
  text-stroke: .5px black;
  text-align: left;
  position: absolute;
  top: 22%;
  width: 90%;
  left: 8.5%;
}

.quote-founder {
  font-size: 1.2em;
  -webkit-text-stroke: .5px black;
  text-stroke: .5px black;
  text-align: left;
  position: absolute;
  bottom: 12%;
  right: 8.5%;
}

/* Start Of Info */
.info-world {
  width: 90%;
  margin: auto;
  height: 25vh;
  margin-top: 1em;
  position: relative;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.weather,
.internet {
  background-color: rgba(22, 28, 32, 0.826);
  /* Adjust the opacity as needed */
  backdrop-filter: blur(8px);
  width: 50%;
  height: 100%;
  margin-right: 1em;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather:hover {
  background-color: rgb(17, 19, 20);
  cursor: pointer;
}

.weather h2 {
  overflow: hidden;
  margin-top: .15em;
}

.weather {
  margin-right: 0;
}

/* Start Of Utils */
.util {
  width: 90%;
  margin: auto;
  overflow: hidden;
  height: 5vh;
  margin-top: 1em;
  position: relative;
  max-width: 500px;
  background-color: rgba(22, 28, 32, 0.826);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  border-radius: 5px;
}

.util:hover {
  background-color: rgb(17, 19, 20);
  cursor: pointer;
}

.share-feature {
  width: 90%;
  border-radius: 10px;
  margin: auto;
  padding: 1em;
  height: fit-content;
  margin-top: 1em;
  background-color: rgba(22, 28, 32, 0.826);
  /* Adjust the opacity as needed */
  backdrop-filter: blur(8px);
  position: relative;
  max-width: 500px;
  border: 2px solid #233C5F;
}

.share-feature h3 {
  line-height: 1.25;
  font-weight: lighter;
}

.details {
  margin-top: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: .5em;
}

input {
  width: 100%;
  background: #2A3033;
  border: 1px solid #233C5F;
  padding: .5em 1em;
  border-radius: 5px;
  z-index: 2;
}

.share-feature textarea {
  resize: none;
  margin-top: .5em;
  width: 100%;
  height: 15vh;
  background: #2A3033;
  border: 1px solid #233C5F;
  border-radius: 5px;
  padding: .5em 1em;
  font-family: sans-serif;
}

.share-feature button {
  padding: .8em;
  cursor: pointer;
  margin-top: .25em;
  width: 100%;
  border: 1px solid #233C5F;
  border-radius: 5px;
  background-color: #C5C3C8;
  color: #2A3033;
}

/* CLouds */
@keyframes clouds-loop-1 {
  to {
    background-position: -1000px 0;
  }
}

.clouds-1 {
  background-image: url("https://cdn.discordapp.com/attachments/1078049970097238098/1109082839674257478/18.05.2023_12.17_1.png");
  animation: clouds-loop-1 20s infinite linear;
}

@keyframes clouds-loop-2 {
  to {
    background-position: -1000px 0;
  }
}

.clouds-2 {
  background-image: url("https://cdn.discordapp.com/attachments/1078049970097238098/1109082839674257478/18.05.2023_12.17_1.png");
  animation: clouds-loop-2 15s infinite linear;
}

@keyframes clouds-loop-3 {
  to {
    background-position: -1579px 0;
  }
}

.clouds-3 {
  background-image: url("https://cdn.discordapp.com/attachments/1078049970097238098/1109082839674257478/18.05.2023_12.17_1.png");
  animation: clouds-loop-3 17s infinite linear;
}


.clouds {
  opacity: 0.4;
  pointer-events: none;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  position: relative;
}

.clouds-1,
.clouds-2,
.clouds-3 {
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 150px;
  right: 0;
  left: 0;
}

/* ENd Of Dash Board Screen */

/* Start Of Get Website Info */
.WebsiteInfo {
  scale: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  flex-direction: column;
}

.title {
  width: fit-content;
  border-radius: 10px;
  padding: 1em;
  height: fit-content;
  margin-left: 5%;
  display: flex;
  gap: 1em;
  align-items: center;
  background-color: rgba(22, 28, 32, 0.826);
  backdrop-filter: blur(8px);
  position: relative;
  border: 2px solid #233C5F;
}

.back-btn {
  cursor: pointer;
}

.website-url-input {
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .8em;
}

.WebsiteInfo .form {
  position: relative;
  height: fit-content;
  margin-top: .5em;
}

.WebsiteInfo .form button {
  position: absolute;
  right: 0;
  top: 5%;
  bottom: 0;
  width: 30%;
  height: 75%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.WebsiteInfo .result {
  background: linear-gradient(180deg, #151B1D 0%, #304665 100%);
  box-shadow: inset 0px 4px 4px #243C5F;
  border-radius: 30px 30px 0px 0px;
  width: 90%;
  height: fit-content;
  margin: auto;
  margin-top: 1em;
  max-width: 500px;
  padding-bottom: 1em;
}

.companyInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.companyInfo .right, .companyInfo .left, .companyInfo img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.companyInfo .right {
  width: 75%;
  padding: 1em;
  align-items: flex-start;
  justify-content: flex-start;
}

.companyInfo .right h2 {
  line-height: 1;
  padding: .1em;
  font-size: 1.2em;
  overflow: hidden;
  background: transparent;
}

.techstack .title {
  font-size: 1em;
  font-weight: 500;
  padding: .5em .5em .5em 1em;
  width: 100px;
  border: none;
}

.companyInfo .right p {
  padding: .1em;
}

.companyInfo img {
  width: 100%;
}

.companyInfo .left {
  width: 25%;
  padding: 1em 0 1em 1em;
}

.techstack {
  margin-top: 1em;
}

.techstack ul {
  margin-left: 2em;
}

.techstack ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: .5em;
  gap: .5em;
}

.techstack-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Start Of Mini Tools */
.mini-tools {
  width: 100%;
  height: 100%;
  padding: 2em;
  position: absolute;
  scale: 0;
  top: 0;
  left: 0;
}

.mini-tools .title, .github-view .title, .capture-window .title {
  margin: 0;
}

.mini-tools .grid .box {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 2/1;
  background-color: rgba(22, 28, 32, 0.826);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

.mini-tools .grid {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;
}

.box div {
  width: 40%;
  min-width: 200px
}

/* Start Of Github View */
.github-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  scale: 0;
  padding: 1em;
}

/* Start Of Capture Window */
.capture-window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  scale: 0;
  padding: 1em;
}

.capture-window .title {
  margin: auto;
  width: 90%;
}

.image {
  width: 90%;
  max-width: 500px;
  border: 2px dashed #233C5F;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 20em;
  margin: auto;
  margin-top: 1em;
  border-radius: 10px;
}

.themesAndLanguage {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
} 

.themesAndLanguage #theme, .themesAndLanguage #language {
  width: 49%;
  background: #233C5F;
  color: #C5C3C8;
  border-radius: 5px;
  padding: .5em 1em;
}

.paddingAndColor {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5em;
  flex-wrap: wrap;
}

.paddingAndColor button {
  margin-top: .5em;
  width: 100%;
  padding: 1em;
  border: none;
  color: #000;
  border-radius: 5px;
}

.paddingAndColor input , #BackgroundImage, .paddingAndColor textarea {
  width: 49%;
  background: #233C5F;
  color: #C5C3C8;
  border-radius: 5px;
  padding: .5em 1em;
}

.paddingAndColor textarea {
  height: 10em;
  width: 100%;
  resize: none;
  margin-top: .5em;
}

#BackgroundImage {
  width: 100%;
  margin-top: .5em;
}


.image img {
  width: auto;
  height: auto;
  z-index: 3;
  object-fit: cover;
  scale: 0;
}

.image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.downloadSnippet {
  display: none;
}